<!DOCTYPE html>
<html>
  <head>
    <title>猪掌柜应用</title>
    <link type="text/css" rel="stylesheet" href="/amazeui/dist/css/amazeui.min.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/amazeui/dist/js/amazeui.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  </head>
  <body class="bg">
  <header data-am-widget="header" class="am-header am-header-default">
    <h1 class="am-header-title">
      <a class="">
        意见反馈
      </a>
    </h1>
  </header>

  <div class="am-g am-g-fixed app-items">
      <div class="am-u-sm-12 am-margin-top-sm am-padding-lg">
        <form action="/feedback" class="am-form am-form-inline" method="post">
          <div class="am-form-group">
            <label class="am-form-label" for="category">反馈类型</label>
            <select class="am-form-field" id="category" name="category">
              <option>操作界面</option>
              <option>应用功能</option>
              <option>功能异常</option>
            </select>
          </div>

          <div class="am-form-group">
            <label class="am-form-label" for="content">详细描述</label>
            <textarea class="am-form-field" id="content" placeholder="意见反馈详细信息" rows="8"></textarea>
          </div>
          <div class="am-form-group">
            <button type="button" class="am-btn am-btn-primary am-radius am-btn-block">提交</button>
          </div>
        </form>
      </div>
    </div>
    <div data-am-widget="navbar" class="primary-bg am-navbar am-cf am-navbar-default am-text-center">
        <a href="/">返回应用主页</a>
    </div>
  </body>
</html>
