<!DOCTYPE html>
<html>
  <head>
    <title>猪掌柜应用</title>
    <link type="text/css" rel="stylesheet" href="/amazeui/dist/css/amazeui.min.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/amazeui/dist/js/amazeui.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/app.js"></script>
   <!-- <script type="text/javascript" src="/javascripts/wechat.js"></script>-->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  </head>
  <body class="bg">
    <div class="am-g am-g-fixed app-items">
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="javascript:void(0)" type="button" id="qrcode-config-btn">
          <span class="am-icon-qrcode item-icon"></span>
          <h3 class="item-title">扫码收款</h3>
        </a>
      </div>
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="/page/orders">
          <span class="am-icon-shopping-bag item-icon"></span>
          <h3 class="item-title">订单记录</h3>
        </a>
      </div>
    </div>
    <div class="am-g am-g-fixed app-items">
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="/page/refunds">
          <span class="am-icon-recycle item-icon"></span>
          <h3 class="item-title">退款记录</h3>
        </a>
      </div>
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="/page/reverses">
          <span class="am-icon-trash item-icon"></span>
          <h3 class="item-title">撤销记录</h3>
        </a>
      </div>
    </div>
    <div class="am-g am-g-fixed app-items">
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="/page/downbills">
          <span class="am-icon-list-ul item-icon"></span>
          <h3 class="item-title">对帐单</h3>
        </a>
      </div>
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="/page/feedback">
          <span class="am-icon-comments item-icon"></span>
          <h3 class="item-title">意见反馈</h3>
        </a>
      </div>
    </div>
    <div class="am-g am-g-fixed app-items">
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="/page/copyright">
          <span class="am-icon-copyright item-icon"></span>
          <h3 class="item-title">软件信息</h3>
        </a>
      </div>
      <div class="am-u-sm-6 item item-s am-text-center">
        <a href="tel:15280083437">
          <span class="am-icon-phone item-icon"></span>
          <h3 class="item-title">联系客服</h3>
        </a>
      </div>
    </div>
    <div class="am-g am-g-fixed app-items app-full">
      <div class="am-u-sm-12 item am-text-center am-text-xs am-padding-vertical-lg">
        <p class="am-text-lg" data-rel="mobile">
          <b>猪掌柜微信商户版</b>
        </p>
          <div class="app-footer">
            <p>丽江云创信息技术有限公司版权所有</p>
            <p>CopyRight©2016  YunCreate Co.Ltd.</p>
            <p>滇ICP备13033158</p>
          </div>
      </div>
    </div>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="qrcode-confirm-modal">
      <div class="am-modal-dialog">
        <div class="am-modal-hd">猪掌柜应用</div>
        <div class="am-modal-bd">
          请输入您的收款金额
          <form action="" class="am-form am-form-inline">
            <div class="am-form-group am-form-icon">
              <i class="am-icon-rmb"></i>
              <input type="number" class="am-form-field" id="money" step="0.01" min="0.01" placeholder="金额">
            </div>
<!--            <div class="am-form-group">
              <button type="button" class="am-btn am-btn-primary am-radius am-btn-block">发起收款</button>
            </div>-->
          </form>
        </div>
        <div class="am-modal-footer">
          <span class="am-modal-btn" data-am-modal-cancel>取消</span>
          <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
      </div>
    </div>
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="qrcode-modal-loading">
      <div class="am-modal-dialog">
        <div class="am-modal-hd">系统处理中，请等待...</div>
        <div class="am-modal-bd">
          <span class="am-icon-spinner am-icon-spin"></span>
        </div>
      </div>
    </div>
  </body>
</html>
