<!DOCTYPE html>
<html>
  <head>
    <title>猪掌柜应用</title>
    <link type="text/css" rel="stylesheet" href="/amazeui/dist/css/amazeui.min.css">
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/amazeui/dist/js/amazeui.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  </head>
  <body class="bg">
    <header data-am-widget="header" class="am-header am-header-default">
      <h1 class="am-header-title">
        <a class="">
          订单记录
        </a>
      </h1>
    </header>

    <div data-am-widget="navbar" class="primary-bg am-navbar am-cf am-navbar-default am-text-center">
        <a href="/">返回应用主页</a>
    </div>
  </body>
</html>
